# Python cache files
__pycache__/
*.pyc
*.pyo

# Environment variable files
.env

# Ignore build directories
build/

# macOS Finder files
.DS_Store

# Ignore virtual environment
venv/
/node_modules
